<nav class="navbar">
    <div class="navbar-container">
        <a href="{{ url_for('home.index') }}" class="navbar-brand">Thư Viện Số</a>
        <div class="navbar-links">
            <a href="{{ url_for('home.index') }}">Trang chủ</a>
            <a href="{{ url_for('book.search') }}">Sách</a>
            <a href="{{ url_for('book.categories') }}">Danh mục</a>
            <a href="{{ url_for('auth.register') }}">Đăng ký</a>
            <a href="{{ url_for('auth.login') }}">Đăng nhập</a>
            <a href="#">🔔</a>

        </div>
    </div>
</nav>
