<nav class="navbar">
    <div class="navbar-container">
        <a href="{{ url_for('home.index') }}" class="navbar-brand">Thư Viện Số</a>
        <div class="navbar-search">
            <form action="{{ url_for('book.search') }}" method="get" class="search-inline">
                <input
                    type="text"
                    name="q"
                    placeholder="Tìm kiếm sách..."
                    value="{{ request.args.get('q', '') }}"
                    class="search-input-nav"
                >
                <button type="submit" class="search-btn-nav">Tìm</button>
            </form>
        </div>
        <div class="navbar-links">
            <a href="{{ url_for('home.index') }}">Trang chủ</a>
            <a href="{{ url_for('book.search') }}">Sách</a>
            <a href="{{ url_for('book.categories') }}">Danh mục</a>
        </div>

    </div>
     <div class="navbar-user" style="margin-left: auto; display: flex; align-items: center; gap: 10px;">        {% if session.get('username') %}
        <span class="navbar-text" style="color: white;">
            Hi, {{ session.get('username') }}
        </span>

        <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">
            Đăng xuất
        </a>
    {% else %}
        <a href="{{ url_for('auth.login') }}" style="margin-right: 10px;color: white">
    Đăng nhập
</a>

<a href="{{ url_for('auth.register') }}" style="color: white;">
    Đăng ký
</a>
    {% endif %}
</div>
</nav>
