# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/
.venv

# VSCode / PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db

# Flask
instance/
.env
.venv/

# Tài liệu nội bộ (không đưa lên git)
docs_private/
