{% extends "layout/base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/borrow.css') }}">
{% endblock %}

{% block content %}
<div class="admin-layout">

    {% include "partials/sidebar_admin.html" %}

    <div class="admin-content">

        {% if active_tab == "books" %}
        {% include "books/list_admin.html" %}

        {% elif active_tab == "borrow" %}
            {% if selected_view == "records" %}
                {% include "admin/borrows/records.html" %}
            {% else %}
                {% include "admin/borrows/index.html" %}
            {% endif %}

        {% elif active_tab == "report" %}
            <section class="section active">
                <h2>Báo cáo</h2>
                <p>Chức năng báo cáo đang được phát triển.</p>
            </section>

        {% elif active_tab == "rules" %}
            <section class="section active">
                <h2>Quy định</h2>
                <p>Chức năng quy định đang được phát triển.</p>
            </section>



        {% else %}
            {% include "admin/users.html" %}
        {% endif %}

    </div>

</div>
{% endblock %}